body {
  background-color: #fff9c4;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.yellow {
  background-color: #dfe594;
}

header {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: clamp(10%, 40rem, 40rem);
  user-select: none;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: #d26f5f 3px solid;
}

.logo {
  margin: auto;
  margin-top: 10px;
  width: 95%;
}

.button-group {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 5%;
  padding: 15px;
  border-radius: 30px;
}

.button-group > li > button {
  background-color: #426156;
  border: 2px solid #d26f5f;
  color: #dfe594;
  border-radius: 5px;
  width: 8rem;
  font-size: 1.5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.button-group > li > button:hover {
  /* border: #ffa293 solid 2px; */
  background-color: #5e8879;
}

.button-group > li > button:active {
  background-color: #dfe594;
  color: #426156;
}

.container {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: #d26f5f 3px solid;
  width: 40rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  color: #426156;
}

.call {
  margin: 60px 30px 30px 30px;
  background-color: #d26f5f;
  padding: 15px;
  width: 70%;
  border-radius: 15px;
  color: black;
}

.section {
  border: #8e5e49 3px solid;
  width: 70%;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
}

.call > h1 {
  font-size: 2rem;
  margin-bottom: 15px;
  font-weight: 100;
}

.author {
  color: rgb(0, 0, 0);
  font-weight: 100;
}

.locations > h2 {
  color: black;
}

.location {
  display: flex;
  align-items: center;
}

.location > img {
  width: 2rem;
}
